.formation-button {
  background-color: var(--titlebackground);
  width: 80%;
  height: 6vh;
  border-radius: 0.5rem;
  font-size: clamp(0.8rem, 1.2vw, 1.2rem);
  margin-top: 2rem;
  border-color: none;
}
