.title-container {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  transform: rotate(-2deg);
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3);
}
.title {
  font-family: "Just Another Hand", cursive;
}
